[submodule "vundle"]
	path = vundle
	url = https://github.com/gmarik/vundle
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/dannyzen/zsh-syntax-highlighting
[submodule "todo.txt-cli"]
	path = todo.txt-cli
	url = https://github.com/dannyzen/todo.txt-cli.git
[submodule "homeshick"]
	path = homeshick
	url = https://github.com/andsens/homeshick.git
[submodule "desk"]
	path = desk
	url = https://github.com/jamesob/desk.git
[submodule "cf"]
	path = cf
	url = git@github.com:Dannyzen/cf-zsh-autocomplete-plugin.git
[submodule "zsh-completions"]
	path = zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:Dannyzen/oh-my-zsh.git
[submodule "alias-tips"]
	path = alias-tips
	url = https://github.com/djui/alias-tips
[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "cf-zsh-autocomplete-plugin"]
	path = cf-zsh-autocomplete-plugin
	url = git@github.com:Dannyzen/cf-zsh-autocomplete-plugin.git
