[submodule "vundle"]
	path = vundle
	url = https://github.com/gmarik/vundle
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "todo.txt-cli"]
	path = todo.txt-cli
	url = https://github.com/dannyzen/todo.txt-cli.git
[submodule "homeshick"]
	path = homeshick
	url = https://github.com/andsens/homeshick.git
[submodule "desk"]
	path = desk
	url = https://github.com/jamesob/desk.git
[submodule "cf-zsh-autocomplete-plugin"]
	path = cf
	url = https://github.com/frodenas/cf-zsh-autocomplete-plugin.git
[submodule "zsh-completions"]
	path = zsh-completions
	url = https://github.com/zsh-users/zsh-completions

