[submodule "todo.txt-cli"]
	path = todo.txt-cli
	url = https://github.com/dannyzen/todo.txt-cli.git
[submodule "homeshick"]
	path = homeshick
	url = https://github.com/andsens/homeshick.git
[submodule "desk"]
	path = desk
	url = https://github.com/jamesob/desk.git
[submodule "zsh-completions"]
	path = zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "antidote"]
	path = antidote
	url = https://www.github.com/mattmc3/antidote.git
