[user]
	name = dannyzen
	email = danny.rosen@gmail.com
[color]
    ui = true
	diff = always
[column]
    ui = always
[alias]
    co = checkout
    cm = commit
    p = push
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[push]
	default = matching
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
